/* Header Container */
.header {
    background-image: linear-gradient(45deg, #ffdfa5, #ffffff);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--heade-height);
    box-shadow: 0 2px 6px #ccc;
    z-index: 999;
}

/* Header Content */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo */
.header-logo--link {
    font-size: 1.9rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    line-height: var(--heade-height);
}

/* Navbar List */
.header-navbar--list {
    display: flex;
    align-items: center;
    position: relative;
}

.header-navbar--item {
    padding: 0 12px;
    margin: 0 4px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: var(--heade-height);
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}

/* Hover Effects */
.header-navbar--item:hover {
    color: #ffb327;
}

.header-navbar--item:nth-child(4):hover {
    color: var(--text-color);
}

/* Cart Item Count */
.cart-count {
    background-color: #ff4500; /* Màu nền của số lượng */
    color: #fff; /* Màu chữ của số lượng */
    font-size: 12px; /* Kích cỡ chữ của số lượng */
    padding: 2px 6px; /* Khoảng cách giữa nền và nội dung */
    border-radius:100%; /* Độ cong của góc */
    margin-left: 5px; /* Khoảng cách với nội dung trước đó */
  }
  
  .header-navbar--item {    
    position: relative;
  }
  


/* Line Indicator */
.header-navbar--list .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    border-radius: 24px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
}

/* Active State for Navbar Items */
.js-TabHeader.headerActive {
    color: #ffb327;
}

.js-Container.headerActive {
    display: block;
}

/* Mobile Menu Button */
.header-mobile--btn {
    display: none;
    line-height: var(--heade-height);
    font-size: 2rem;
    padding: 0 28px;
    transition: all 0.1s;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Show mobile button on small screens */
@media (max-width: 768px) {
    .header-mobile--btn {
        display: block;
    }

    .header-navbar--list {
        display: none; /* Ẩn menu trên màn hình nhỏ */
        flex-direction: column;
        background: #ffffff;
        position: absolute;
        top: var(--heade-height);
        right: 0;
        left: 0;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .header-mobile--btn.active + .header-navbar--list {
        display: flex; /* Hiển thị menu khi nhấn nút */
    }
}
